@font-face {
  font-family: "iconfont"; /* Project id 4131444 */
  src: url('iconfont.woff2?t=1706500354876') format('woff2'),
       url('iconfont.woff?t=1706500354876') format('woff'),
       url('iconfont.ttf?t=1706500354876') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 13px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-windows-fill:before {
  content: "\e882";
}

.icon-linux:before {
  content: "\e608";
}

.icon-iconfont2:before {
  content: "\e610";
}

.icon-icon_sousuo:before {
  content: "\e644";
}

